if TRACING

config DISABLE_TRACE_PRINTK
	bool "Force disable trace_printk() usage"
	default y
	help
	  When trace_printk() is used in any of the kernel source, it enables
	  debugging functions which are not desired for production kernel.
	  Enabling this option will replace trace_printk() with pr_debug().

	  If in doubt, say Y.

endif